[Unit]
Description=CouldYou Telegram Bot Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/couldyou_chatbot/telegram_bot
Environment="PATH=/opt/couldyou_chatbot/telegram_bot/venv/bin"
ExecStart=/opt/couldyou_chatbot/telegram_bot/venv/bin/python bot.py

[Install]
WantedBy=multi-user.target
