[Unit]
Description=CouldYou Backend Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/couldyou_chatbot/backend
Environment="PATH=/opt/couldyou_chatbot/backend/venv/bin"
ExecStart=/opt/couldyou_chatbot/backend/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:5000 run:app

[Install]
WantedBy=multi-user.target
